<nav class="navbar navbar-expand-lg" style="background-color: powderblue;">
  <h1 class="navbar-brand"> Charity App</h1>
    <span class="navbar-toggler-icon"></span>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_up">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/users/sign_in">Login</a>
      </li>
    </ul>
  </div>
</nav>

<img class="char-image" src="https://www.gannett-cdn.com/-mm-/d3b6dffaeec46acd6996b0f8d5e950f095216e0b/c=0-125-2045-1280/local/-/media/2018/06/12/USATODAY/USATODAY/636643942202141206-GettyImages-515836063.jpg?width=660&height=373&fit=crop&format=pjpg&auto=webp" alt="Charity pic">
<footer class="footer">
  <p>Author: Aarsh Bararia<br>
</footer>